@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
*{
    padding: 0 ;
    margin: 0 ;
    box-sizing: border-box;
}

body {
    font-family: 'roboto' , sans-serif ;
    background: url("../img/background_dark.jpg") no-repeat center center;
    background-color: rgb(21, 18, 44);
    background-size: cover;
    display: flex;
    position: relative;
    height: 100vh;
    width: 100vw;
}

.container {
    margin-top: 250px;
    margin: 75px;
    position: relative;
    z-index: 0 ;
    height: 100%;
    width: 100%;
}

.container .bg{
    background-image: linear-gradient(to right,rgb(109, 12, 142), rgb(58, 53, 97));
    position: absolute;
    z-index: -1 ;
    opacity: 15% ;
    width: 100%;
    height: 100%;
}

.nossaNav {
  color: white;
  opacity: 100%;
  font-size: 20px;
}

.logo img{
    height: 120px;
}

.nav-link {
    color: white;
}
.navbar-collapse {
    justify-content: space-around;
}
.navbar-toggler-icon{
    color: white;
}
.mainNova {
    margin-top: 10px;
    display: flex;
    height: 100%;
}

.sidebar{
    color: white;
    width: 30%;
}
.homeBox{
    color: white;
    width: 100%;
}

.caixaTexto {
    margin-top: 80px;
}


footer {
    margin-top: 120px;
    color: white;
    font-size: 15px;
    display: flex ;
}
.foot1{
    width: 40%;
}
.foot2{
    width: 30%;
    line-height: 0.01;
    text-align: center;
}
.foot3{
    width: 30%;
}

@media screen and (max-width: 780px){
    .container{
        margin: 0px;
        text-align: center;
        font-size: 13px;
    }
    .mainNova {
        display: block;
    }
    .homeBox {
        margin-top: 30px;
        margin: 0;
        margin-left: 0;
    }
footer {
    margin: 0;
    display: flex;
}
.foot1{
    width: 0;
}
.foot2{
    margin-top: 10px;
    width: 100%;
    line-height: 0.01;
    text-align:end;
}
.foot3{
    width: 0;
}

}