@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
*{
    padding: 0 ;
    margin: 0 ;
    box-sizing: border-box;
}
:root {
    --color-fisrt: white ;
    --color-padrao: linear-gradient(to right,rgb(109, 12, 142), rgb(58, 53, 97));
}

body {
    margin: 0;
    font-family: 'roboto' , sans-serif ;
    background: url("../img/background_dark.jpg") no-repeat center center;
    background-color: rgb(21, 18, 44);
    background-size: cover;
    display: block;
    position: relative;
    height: 100vh;
    width: 100vw;
}

/* .oculos {
    position: relative;
    width: 150px;
    height: 150px;
    animation: anim-oculos 20s linear infinite;
    transform-style: inherit; 
} */

.float-banner img {
    height: 400px;
}
.float-banner {
    position: absolute;
    left: 50%;
    width: 5px; height: 5px;
    margin-top: 250px; margin-left: -500px;
}

/* @keyframes anim-oculos {
    from {
        transform: translateY(60px);
    }
    to {
        transform: translateY(-150px);
    }
} */

.container {
    margin-top: 250px;
    margin: 75px;
    position: relative;
    z-index: 0 ;
    height: 100%;
    width: 100%;
}

.container .bg{
    background-image: linear-gradient(to right,rgb(109, 12, 142), rgb(58, 53, 97));
    position: absolute;
    z-index: -1 ;
    opacity: 15% ;
    width: 100%;
    height: 100%;
}

.nossaNav {
  color: var(--color-fisrt);
  opacity: 100%;
  font-size: 20px;
}

.logo img{
    height: 120px;
}

.nav-link {
    color: var(--color-fisrt);
}
.navbar-collapse {
    justify-content: space-around;
}
.navbar-toggler-icon{
    color: var(--color-fisrt);
}
.mainNova {
    margin-top: 10px;
    display: flex;
    height: 100%;
}

.sidebar{
    color: var(--color-fisrt);
    width: 30%;
}
.homeBox{
    color: var(--color-fisrt);
    width: 100%;
}

.caixaTexto {
    margin-top: 80px;
}


.footerMain {
    margin-top: 120px;
    color: var(--color-fisrt);
    font-size: 15px;
    display: flex ;
}

.efeitoLogo{
    display: block;
}
.efeitoLogo:hover {
    display:block;
    transition: 0.1s;
    opacity: 0.7;
}

#mostrar{
    display: none;
}
  
#passar_mouse:hover #mostrar{
    display:block;
    transition: 0.1s;
    opacity: 0.7;
}

.foot1{
    width: 40%;
}
.foot2{
    width: 30%;
    line-height: 0.01;
    text-align: center;
}
.foot2 img{
    height: 32px ;
}
.foot3{
    width: 30%;
    display: flex;
    flex-direction: row;
}
.foot3 img{
    height: 32px;
}

.footer {
    margin-top: 350px;
    margin: 0;
    position: relative;
    z-index: 1 ;
    height: 30vh;
    width: 30vw;
}

.footer .bg{
    margin-top: 350px;
    background-image: linear-gradient(to right,rgb(39, 5, 50), rgb(58, 53, 97));
    position: absolute;
    z-index: -1;
    opacity: 65% ;
    height: 30vh;
    width: 100vw;
}

.contFooter {
    margin-top: 165px;
    position: relative;
    color: var(--color-fisrt);
    z-index: 5;
    margin-left: 80px;
}

@media screen and (max-width: 780px){
    .container{
        margin: 0px;
        text-align: center;
        font-size: 13px;
    }
    .mainNova {
        display: block;
    }
    .homeBox {
        margin-top: 30px;
        margin: 0;
        margin-left: 0;
    }
.footerMain {
    margin: 0;
    margin-top: 120px;
    display: flex;
}
.foot1{
    width: 0;
}
.foot2{
    margin-top: 10px;
    width: 10%;
    line-height: 0.01;
    text-align:end;
}
.foot3{
    width: 90%;
    align-items: center;
}
}